.bodyContainer{
    display: flex;
   
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Share Tech Mono', monospace;
    background-size: 100%;
    background-color: black;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    max-width: 33%;
}
button {
    height: 50px;
    width: 125px;
    border-radius: 10px;
    font-family: 'Share Tech Mono', monospace;
}
.battleLog {
    position: fixed;
    top: 10%;
    left: center;
    /* margin-left: 20px; */
    font-size: 1.2rem;
}
#retreat {
    background-color:crimson;
    display: none;
    position: fixed;
    bottom: 71%;
    box-shadow: 0px 5px 0px 0px rgb(116, 20, 39);
}
#retreat:hover {
    background-color:rgb(214, 63, 93);
}
#target {
    background-color:rgb(219, 165, 28);
    display: none;
    position: fixed;
    bottom: 64%;
    box-shadow: 0px 5px 0px 0px rgb(160, 120, 19);
}
#target:hover {
    background-color:rgb(214, 182, 99);
}
#attack {
    background-color:rgb(61, 139, 71);
    display: none;
    position: fixed;
    bottom: 57%;
    box-shadow: 0px 5px 0px 0px rgb(27, 88, 35);
}
#attack:hover {
    background-color: rgb(99, 185, 112);
}
#start {
    position: fixed;
    bottom: 57%;
    background-color: rgb(100, 164, 237);
    box-shadow: 0px 5px 0px 0px rgb(64, 112, 167);
}
#start:hover {
    background-color: rgb(125, 176, 235);;
}
#reset {
    position: fixed;
    bottom: 50%;
    background-color: slategrey;
    box-shadow: 0px 5px 0px 0px rgb(69, 80, 90);
}
#reset:hover {
    background-color: rgb(146, 155, 165);
}
#recharge {
    position: fixed;
    display: none;
    bottom: 43%;
    background-color: rgb(111, 71, 190);
    box-shadow: 0px 5px 0px 0px rgb(70, 32, 146);
}
#recharge:hover {
    background-color: mediumpurple;
}
.mainCharacterView{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.left{
    margin-left: 50px;
    display: flex;
    max-width: auto;
    justify-content: space-evenly;
}
.right{
    /* margin-right: 50px; */
    display: flex;
    max-width: auto;
}
.playerStatus {
    width: 15vw;
    height: 5vh;
    font-size: 1.2vw;
}
.counter {
    width: 12vw;
    height: 5vh;
    font-size: 1.2vw;
}
.nameBox{
    border: 1px solid black;
    width: 25vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-shadow: 0px 0px 20px 10px white;

}
.enemyNB {
    width: 12.5vw;
    height: 10vh;
}
.playerImage{
    border: 1px solidblack;
    width: 30vw;
    height: 40vh;
    background-image: url("/images/space_hero.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
    

    
}
.playerStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
    border-radius: 2%;


}
.enemyImage{
    border: 1px solidblack;
    width: 20vw;
    height: 23.5vh;
    background-image: url("/images/enemy.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
    

    
}
.enemyImageLarge{
    border: 1px solidblack;
    width: 20vw;
    height: 23.5vh;
    background-image: url("/images/enemy.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
    
}
.enemyStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;

}
.enemy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}
.otherEnemies {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;

}
.otherEnemies > .enemyImage {
    width: 8vw;
    height: 10vh;
    justify-content: center;
}
